<html>
<head>
<title>GST Bill Calculator</title>

<style>
.box {
    width:500px;
    height:320px;
    border:dashed 3px black;
    padding:10px;
    position:fixed;
    top:190px;
    left:500px;
    text-align:center;
    background-color:rgb(123, 216, 131);
}
</style>

</head>

<body bgcolor="lightblue">

<div class="box">

<h1>Price calculator</h1>
<h3>VAHINI(25018547)</h3>

<form method="POST">
{% csrf_token %}

<div>
<label>Price</label>
<input type="text" name="price" value="{{p}}" >
</div>
<br>

<div>
<label>GST</label>
<input type="text" name="GST" value="{{G}}">
</div>
<br>

<div>
<input type="submit" value="Calculate">
</div>
<br>

<div>
<label>Total Bill (₹)</label>
<input type="text" value="{{total}}">
</div>

</form>
</div>

</body>
</html>